.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #E0FFFF;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .dropzone p {
    font-size: 16px;
    margin-top: 200px;
    margin-bottom: 200px;
    color: #666;
  }
  
  .dropzone.active {
    background-color: #f7f7f7;
  }
  
  .dropzone.accept {
    border-color: #00c853;
  }
  
  .dropzone.reject {
    border-color: #ff1744;
  }
  
  .fbutton {
    background-color: #007FFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fbutton:hover {
    background-color: #0B2447;
  }
  