.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-section {
  width: 50%;
  border-right: 1px solid black;
  padding-right: 20px;
}

.right-section {
  width: 50%;
}

.FileUploader {
  margin-top: 50px;
}


